# datasets
scripts/data/

# checkpoints
*.pt
*.pth
checkpoints/

# cache
__pycache__/
*.pyc

# logs
logs/
wandb/
# datasets
scripts/data/

# checkpoints
*.pt
*.pth
checkpoints/

# caches
__pycache__/
*.pyc

# logs
logs/
wandb/

# Ignore dataset directory
scripts/data/

# Ignore checkpoint directories
scripts/checkpoint_cifar_mamba_layer/
scripts/checkpoint_cifar_mamba_simple/
scripts/checkpoint_cifar_mamba_luenberger
scripts/checkpoint_cifar_mamba_simple_d2